/* Your Custom CSS content here */
/* You can also find CSS files here: https://vsthemes.org/en/skins/discord/ and here: https://bdeditor.dev/. Copy the text into the corresponding custom css file. */

/**
 * @name a
 * @author maenDisease
 * @version 1.0.11
 * @description macOS with barely any customization.
 * @source https://github.com/maenDisease/Solana
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Solana
*/

@import url('https://maendisease.github.io/Solana/Solana.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/addon/mac-titlebar.css');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css');

:root {
  --accent-hue: 213;
  --accent-saturation: 100%;
  --accent-brightness: 50%;
  --background-accent-hue: 213;
  --background-accent-saturation: 100%;
  --background-accent-brightness: 50%;
  --background-image: initial; /* url(https://site.com/foobar.png) | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-image-position: center;
  --background-image-size: cover;
  --background-image-blur: 0px;
  --background-overlay-opacity: 80%;
  --background-overlay-color-lightness: 0;
  --background-hue-shift-strength: 100%;
  --window-background-image: initial;
  --window-background-image-position: center;
  --window-background-image-size: cover;
  --window-background-image-attachment: fixed;
  --window-opacity: 100%;
  --window-blur: 0;
  --window-friends-blur: 0;
  --window-margin: 24;
  --window-margin-left: 0;
  --window-border-radius: 10px;
  --window-background-lightness: 0;
  --window-accent-tint-strength: 5%;
  --chat-bubble: 0;
  --text-link-hue: 212;
  --chat-text-brightness: 0;
  --home-icon: initial;
  --favorites-icon: initial;
  --dock-blur: 0; /* Blur intensity of the dock. */
  --dock-border-radius: 0;
  --sidebar-width: 240px;
  --members-width: 240px;
  --sidebar-text-brightness: 0;
  --background-floating-blur: 20px;
  --floating-background-lightness: 0;
  --background-floating-opacity: 1;
  --enable-floating-transparency: 1;
  --custom-font-display: "";
  --custom-font-regular: "";
  --custom-font-primary: "";
  --custom-font-code: "";
  --enable-blur: 1;
}

/* Any custom CSS below here */


